doctype html
html
  include inc/head
  body
    textarea#source
      include ../slides/title.md
      include ../slides/agenda.md
      include ../slides/quiz-result.md
      include ../slides/how-it-works.md
      include ../slides/aliases.md
      include ../slides/hooks.md
      include ../slides/demotime.md
      include ../slides/reflog.md
      include ../slides/demotime-2.md
      include ../slides/bisect.md
      include ../slides/demotime-3.md
      include ../slides/merge-vs-rebase.md
      include ../slides/merge.md
      include ../slides/rebase.md
      include ../slides/holywar-time.md
    include inc/scripts
